body.center
	h1.logoFont VKYD
	h2 Coming soon
	br
	br
	h2 Hyped?
	h3
		|Reach us 
		a(href='mailto: vkydclothing@gmail.com') here
	br
	br
	br
	br
	p Aatman &nbsp; &nbsp; | &nbsp; &nbsp; Akshaj &nbsp; &nbsp; | &nbsp; &nbsp; Krish