// RFS import
@import "../../node_modules/rfs/stylus.styl";

// Font imports
@font-face
   font-family Plateia
   src url(/fonts/Plateia-Bold.ttf)
 
@font-face
  font-family Poppins
  src url(/fonts/Poppins-Regular.ttf)


// Color palette
white = #ffffff
black = #000000
lightGrey = #999
darkGrey = #666666

body
	margin 0
	padding 0
	padding-top 100px
	font-family Poppins
	max-width 80%
	margin 0 auto
a
	rfs(1.1rem)
	text-decoration none

img
	width 100%

	
h1 
	rfs(4rem)

h2
	rfs(1.9rem)

h3
	rfs(1.5rem)

h4
	rfs(1.2rem)

a 
	rfs(1.5rem)

h1, h2, h3, h4, h5, h6
	margin-top 0
	margin-bottom 0

.center
	text-align center

.logoFont
	font-family 'Plateia'